.header-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 30px;
}
.left-menu ul, .right-menu ul{

    display: flex;
    list-style: none;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.left-menu ul li a, .right-menu ul li a{
 font-size: 15.75;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.32px;
    text-decoration: none;
    color: var(--header-text);
}
.right-menu ul{
    justify-content: end;
}
.logo{
    text-align: center;
}
.logo img{
    width: 200px;
    height: auto;
    object-fit: contain;
}
.custom-header{
    padding: var(--header-padding) 0;
    background-color: var(--header-bg);
}
.right-menu-with-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}